<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>DispatchServlet</servlet-name>
        <servlet-class>khanhhq.servlet.DispatchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PrintCarsServlet</servlet-name>
        <servlet-class>khanhhq.servlet.PrintCarsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOutServlet</servlet-name>
        <servlet-class>khanhhq.servlet.LogOutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>khanhhq.servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchCarsServlet</servlet-name>
        <servlet-class>khanhhq.servlet.SearchCarsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>vertify</servlet-name>
        <servlet-class>khanhhq.vertify</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateAccountServlet</servlet-name>
        <servlet-class>khanhhq.servlet.CreateAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VertifyCodeServlet</servlet-name>
        <servlet-class>khanhhq.servlet.VertifyCodeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCarsServlet</servlet-name>
        <servlet-class>khanhhq.servlet.AddCarsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewCart</servlet-name>
        <servlet-class>viewCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckOutServlet</servlet-name>
        <servlet-class>khanhhq.servlet.CheckOutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveCarsServlet</servlet-name>
        <servlet-class>khanhhq.servlet.RemoveCarsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConFirmServlet</servlet-name>
        <servlet-class>khanhhq.servlet.ConFirmServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckVoucherServlet</servlet-name>
        <servlet-class>khanhhq.servlet.CheckVoucherServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PrintHistoryServlet</servlet-name>
        <servlet-class>khanhhq.servlet.PrintHistoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchHistoryServlet</servlet-name>
        <servlet-class>khanhhq.servlet.SearchHistoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateHistoryServlet</servlet-name>
        <servlet-class>khanhhq.servlet.UpdateHistoryServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DispatchServlet</servlet-name>
        <url-pattern>/DispatchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PrintCarsServlet</servlet-name>
        <url-pattern>/PrintCarsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOutServlet</servlet-name>
        <url-pattern>/LogOutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchCarsServlet</servlet-name>
        <url-pattern>/SearchCarsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>vertify</servlet-name>
        <url-pattern>/vertify</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateAccountServlet</servlet-name>
        <url-pattern>/CreateAccountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VertifyCodeServlet</servlet-name>
        <url-pattern>/VertifyCodeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCarsServlet</servlet-name>
        <url-pattern>/AddCarsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewCart</servlet-name>
        <url-pattern>/viewCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckOutServlet</servlet-name>
        <url-pattern>/CheckOutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveCarsServlet</servlet-name>
        <url-pattern>/RemoveCarsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConFirmServlet</servlet-name>
        <url-pattern>/ConFirmServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckVoucherServlet</servlet-name>
        <url-pattern>/CheckVoucherServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PrintHistoryServlet</servlet-name>
        <url-pattern>/PrintHistoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchHistoryServlet</servlet-name>
        <url-pattern>/SearchHistoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateHistoryServlet</servlet-name>
        <url-pattern>/UpdateHistoryServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>DispatchServlet</welcome-file>
    </welcome-file-list>
</web-app>
