/*displatCar*/

.hearderDisplayAdmin{
    min-height: 150px;
    /* background-color: rgb(0,0,255,0.3);  */
    background-image: linear-gradient(0,rgba(80, 24, 24, 0.2), rgba(25, 25, 80, 0.2));
    display: flex;
    justify-content: space-between;
}
.nav-listAdmin {
   margin-top: 20px;

 
}
.nav-itemAdmin {
    color: #fff;
    list-style: none;
    margin: 0 8px;
    display: inline-block;
   
}
.nav-itemAdmin a{
    text-decoration: none;
    list-style: none;
    
}


.displayUser{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 1px solid white;
    margin-left: 95px;
}
.itemUser{
    text-align: center;
    border:1px solid black;
    border-radius: 10px;
    padding: 30px;
}
.itemUser img{
    width: 130px;
    height: 100px;
}
.detaliItem{
    margin-top: 20px;
}
.displayItem{
    margin-top: 20px;
}
/*paging*/
.paging{
    margin-top: 20px;
 }
 .paging a{
     font-size:35px;
     border: 3px solid rgb(0 0 238 / 41%);
     border-radius:10px;
     padding:5px;
     text-decoration: none;
 }

 /*saerch.jsp*/
 .searchAdmin{
    background-image: linear-gradient(0,rgba(80, 24, 24, 0.2), rgba(25, 25, 80, 0.2));
    border: 3px solid rgb(0,0,238);
    border-radius: 10px;
    display: flex;
    width: 800px;
    margin-left: 380px;
}
.textSearch{
    margin-left: 60px;
}
.searchAdminList{
    width: 50%;
    height: 50%;
    margin: auto;
    padding: 30px;
}
.buttonSearchAdmin{
    text-align: center;
    margin-top: 20px;
    
}
.searchButton{
    font-size: medium;
}
/*viewCart*/
.backgoundCreateItem{
    width: 100%;
    height: 200px;
    background-image: linear-gradient(0,rgba(80, 24, 24, 0.2), rgba(25, 25, 80, 0.2));
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: contain;
}
.displayAdmin{
    margin-top: 20px;
    text-align: center;
}
.tableAdmin{
    border: 0px solid black;
    border-radius: 10px;
    
}
.columnAdmin{
    width: 122px;
    border-radius: 10px;
    color: blue;
}
.rowAdmin{
    border-radius: 10px;
}
.creasequantity{
    font-size:25px;
      text-decoration: none;
}
.quantity{
    font-size:30px;
      text-decoration: none;
}
.increasequantity{
    font-size:30px;
    text-decoration: none;
}

/*createAccount*/
.createPage{
    margin-left: 600px;
    margin-top: 20px;
    margin-bottom: 50px;
    border: 2px solid rgb(0,0,238);
    border-radius: 10px;
    width: 400px;
    display: flex;
}
.createForm{
    width: 50%;
    height: 50%;
    margin: auto;
    padding: 30px;
}
.buttonCreate{
    margin-top: 10px;
}
.backgoundCreateAccount{
    width: 100%;
    height: 200px;
    background-image: linear-gradient(0,rgba(80, 24, 24, 0.2), rgba(25, 25, 80, 0.2));
  
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: contain; 
}
.backgoundCreateAccount a {
    text-decoration: none;
}
.loginPage{
    margin-left: 600px;
    margin-top: 50px;
    margin-bottom: 50px;
    border: 2px solid rgb(0,0,238);
    border-radius: 10px;
    width: 400px;
    display: flex;
}
.loginForm{
    width: 50%;
    height: 50%;
    margin: auto;
    padding: 30px;
}
.btLogin{
    margin-top: 20px;
}
#txtTextfile{
    border-radius: 10px;
    width: 100%;
    height: 30px;
}
#buttonLogin{
    border-radius: 10px;
    width: 105%;
    height: 30px;
    background-color: blue;
    font-size: medium;
}
#buttonLoginReset{
    border-radius: 10px;
    width: 105%;
    height: 30px;
    background-color: red;
    font-size: medium;  
}
.imageHanaShop{
    width: 100%;
    height: 200px;
    background-image: linear-gradient(0,rgba(80, 24, 24, 0.2), rgba(25, 25, 80, 0.2));
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: contain; 
}
.imageHanaShopBottom{
    width: 100%;
    height: 200px;
    background-image: linear-gradient(0,rgba(80, 24, 24, 0.2), rgba(25, 25, 80, 0.2));
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: contain; 
}